@import '@/components/Button/styles.scss';

.root {
	width: 100%;
	height: 100%;

	position: relative;

	&:before {
		content: '';

		width: 100%;
		height: 100%;

		position: absolute;
		left: 0;
		top: 0;

		background-color: #000;

		opacity: 0.4;
	}

	.bodyContainer {
		display: flex;
		width: 100%;
		height: 100%;

		position: relative;

		flex-direction: column;
		row-gap: 30px;

		padding: 30px;

		h1 {
			font-size: 170%;
		}

		.dropContainer {
			$border-color: #cccccc;

			display: flex;
			flex-grow: 1;

			flex-direction: column;
			justify-content: center;
			align-items: center;
			row-gap: 10px;

			border: 3px dashed $border-color;

			border-radius: 20px;

			.icon {
				width: 100%;
				max-width: 70px;

				transform: translateX(-10%);
			}

			.text {
				text-align: center;
			}

			.separator {
				display: flex;

				width: 90%;

				flex-direction: row;
				flex-wrap: nowrap;
				justify-content: center;
				align-items: center;

				padding: 10px 0;

				& > div {
					padding: 0 10px;
				}

				&::before,
				&::after {
					content: '';

					display: block;
					height: 2px;
					flex-grow: 1;

					background-color: $border-color;
				}
			}

			.uploadBtn {
				label {
					@extend %buttonStyle;
				}

				input {
					display: none;
					visibility: hidden;
				}
			}
		}
		.dragOver {
			border-color: #31d282;
		}
	}
}
